body {
    font-family: Arial;
    padding: 10px;
    background: #6298fc;
}

#Header {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#Sidebar {
    width: 160px;
    top: 100;
    left: 0;
    padding-top: 20px; 
}

#main {
    margin-left: 160px;
    padding: 0px 10px;
}

button {
    margin: 5px;
}


